.App-header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    color: #e1003c;
    font-size: 1.4rem;
    border-bottom: 4px solid #e1003c;
}
.App-header img {
    width: 200px;
    height: 200px;
}